# Build
bin/
obj/
out/
artifacts/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/
*.sln.ide

# Rider
.idea/
*.sln.iml

# ASP.NET logs
*.log

# EF Core Migrations
Migrations/*.Designer.cs
Migrations/*Snapshot.cs

# Secrets
appsettings.Development.json
appsettins.json
appsettings.Local.json
secrets.json

